docker-custom/flows.json
[{"id":"3b37ca77.d4e4e6","type":"tab","label":"LED test","disabled":false,"info":""},{"id":"b9c2a21e.14fc7","type":"tab","label":"Loro","disabled":false,"info":""},{"id":"ab0a6525.660408","type":"vtjbot-config","z":"","botGender":"female","name":"TJBotC","listen":"es-ES","speak":"es-ES","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"aUrl":"https://gateway-lon.watsonplatform.net/assistant/api","taUrl":"https://gateway-lon.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway-lon.watsonplatform.net/language-translator/api","sttUrl":"https://gateway-lon.watsonplatform.net/speech-to-text/api","ttsUrl":"https://gateway-lon.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"},{"id":"f1b278b0.294918","type":"inject","z":"3b37ca77.d4e4e6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":200,"y":180,"wires":[["7d2f784f.b161f8","3261d8e2.168b68"]]},{"id":"7d2f784f.b161f8","type":"delay","z":"3b37ca77.d4e4e6","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":200,"wires":[["476a4696.7b7568","a408b440.ed7298","5228f83f.7be6f8"]]},{"id":"3feaf767.af7898","type":"comment","z":"3b37ca77.d4e4e6","name":"Blink Light","info":"","x":180,"y":120,"wires":[]},{"id":"3261d8e2.168b68","type":"vtjbot-shine","z":"3b37ca77.d4e4e6","botId":"ab0a6525.660408","mode":"shine","color":"red","duration":"0.5","name":"Color: red","x":460,"y":100,"wires":[]},{"id":"476a4696.7b7568","type":"vtjbot-shine","z":"3b37ca77.d4e4e6","botId":"ab0a6525.660408","mode":"shine","color":"black","duration":"0.5","name":"Color: black","x":550,"y":200,"wires":[]},{"id":"c32a0d6c.8029","type":"comment","z":"3b37ca77.d4e4e6","name":"Sets the LED color to red for 4 seconds, then turn it off","info":"","x":330,"y":40,"wires":[]},{"id":"a408b440.ed7298","type":"vtjbot-wave","z":"3b37ca77.d4e4e6","botId":"ab0a6525.660408","motion":"wave","name":"","x":560,"y":300,"wires":[]},{"id":"e9476d1c.e287a","type":"debug","z":"3b37ca77.d4e4e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":420,"wires":[]},{"id":"5228f83f.7be6f8","type":"function","z":"3b37ca77.d4e4e6","name":"mensaje","func":"msg.payload = \"¿Qué hay de nuevo, viejo?\";\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":360,"wires":[["e9476d1c.e287a","6ef317ab.cacb38"]]},{"id":"6ef317ab.cacb38","type":"vtjbot-speak","z":"3b37ca77.d4e4e6","botId":"ab0a6525.660408","mode":"speak","payload":"","name":"","x":750,"y":300,"wires":[[]]},{"id":"565fcb02.99d084","type":"vtjbot-listen","z":"b9c2a21e.14fc7","botId":"ab0a6525.660408","name":"","x":490,"y":180,"wires":[["1aafa7a9.2f3ab8","77298da9.7466c4","700f913b.480c5"]]},{"id":"57348a46.2bee54","type":"debug","z":"b9c2a21e.14fc7","name":"speak","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":380,"wires":[]},{"id":"7bc9a0f5.c9f88","type":"inject","z":"b9c2a21e.14fc7","name":"empezar a escuchar","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["11d38e0e.7a8042"]]},{"id":"6cdc0c80.d58494","type":"inject","z":"b9c2a21e.14fc7","name":"parar de escuchar","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":280,"wires":[["11d38e0e.7a8042"]]},{"id":"11d38e0e.7a8042","type":"change","z":"b9c2a21e.14fc7","name":"","rules":[{"t":"set","p":"mode","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":180,"wires":[["565fcb02.99d084"]]},{"id":"1aafa7a9.2f3ab8","type":"vtjbot-speak","z":"b9c2a21e.14fc7","botId":"ab0a6525.660408","mode":"speak","payload":"","name":"","x":350,"y":380,"wires":[["57348a46.2bee54"]]},{"id":"77298da9.7466c4","type":"delay","z":"b9c2a21e.14fc7","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":60,"wires":[["9a7a67f0.5e7bf8"]]},{"id":"9a7a67f0.5e7bf8","type":"function","z":"b9c2a21e.14fc7","name":"para","func":"msg.mode = \"stop\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":60,"wires":[["565fcb02.99d084"]]},{"id":"700f913b.480c5","type":"debug","z":"b9c2a21e.14fc7","name":"listen","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":260,"wires":[]},{"id":"11f3fbf7.fafc04","type":"comment","z":"b9c2a21e.14fc7","name":"Repeats what it listens","info":"","x":120,"y":20,"wires":[]}]